.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid #CDBDAD; 
  font-size: 1rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
   
}

.marquee {
  display: flex;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.controls progress {
  display: block;
}
