@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .font-outline-1 {
      -webkit-text-stroke: 1px #DC3C71;
    }
  }

@font-face {
    font-family: "Inter";
    src: url("../src/assets/fonts/Inter-VariableFont_opsz\,wght.ttf");
}

@font-face {
    font-family: "Tanker";
    src: url("../src/assets/fonts/Tanker-Regular.ttf");
}
